/* 일반적으로 body에 하는 경우가 많은데, 일정 브라우저에서 body태그가 사라지는 문제가 발생해서
, body 대용할 다른걸 하나 만들어줌. (.wrap) */

/* 웹 폰트 코딩 */
/* 링크는 html파일에,  @import는 css파일에 넣는거 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* 추가 reset */
a{
    color: inherit;
    text-decoration: none;
}
button, input{
    outline: none;
    border: none;
    color: #000;
}

/* common */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.wrap{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
.en{
    font-family: 'Exo 2', sans-serif;
}
br.mo{
    display: none;
}

/* header style */
header {
    width: 100%;
    /* background: red; */
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    line-height: 100px;
    position: fixed;
}

header .inner-header {
    width: 84%;
    /* background: orange; */
    margin: 0 auto;
}

header .inner-header .logo {
    /* css로 이미지 크기를 제어하려하면 이미지 깨질 위험성이 있음.
    ->이미지를 감싸는 그 박스(h1)를 제어해야함. */
    width: 200px;
    /* 가로 길이 먼저 정해줌. 그럼 밑에서 width 100%로 하면 알아서 맞춰 들어감. */
    /* background: tomato; */
    float: left;
}

header .inner-header .logo img {
    width: 100%;
    /* -> h1 길이에 맞춰서 들어감 */
}

header .inner-header .gnb {
    float: left;
    margin-left: 80px;
}

header .inner-header nav ul li {
    float: left;
}

header .inner-header .gnb li {
    margin-right: 80px;
    /* background: red; */
}

header .inner-header .gnb li a {
    font-size: 16px;
    color: #fff;
    /* background: orange; */
    display: block;
}

header .inner-header .gnb li a:hover {
    color: #ff8342;
}

header .inner-header .tnb {
    float: right;
}

header .inner-header .tnb li {
    margin-right: 25px;
}

header .inner-header .tnb li a {
    font-size: 16px;
    color: #fff;
    text-align: center;
}

/* 복붙 */
header .inner-header nav.tnb li:last-child a {
    display: block;
    width: 105px;
    border: 1px solid #fff;
    border-radius: 30px;
    line-height: 2;
    margin-top: 33px;
}

header .inner-header nav.tnb li:last-child a:hover {
    color: #ff8342;
    background: #fff;
}

header .inner-header nav.tnb li:first-child a i,
header .inner-header nav.tnb li:nth-child(2) a i {
    margin-right: 8px;
    font-size: 20px;
}

header .inner-header nav.tnb li:last-child a i {
    margin-left: 5px;
}

header .inner-header .gnb-mobile{
    display: none;
}

/* section main style */
section.main{
    background: url('../img/vis_4.jpg') no-repeat center/cover fixed;
    /* 기본 width: 100%; */
    height: 100vh;
}

section.main .main-title{
    /* background: tomato; */
    position: absolute;
    /* 포지션 쓰면 width 100% 깨짐. 컨텐츠에 맞춰짐. 만약 100%로 하고싶으면 따로써야함. */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0,0,0, 0.7);
    animation: uprising 1s;
}
@keyframes uprising{
    0%{
        opacity: 0;
        top: 60%;
    }
    100%{
        opacity: 1;
        top: 50%;
    }
}
section.main .main-title h2{
    font-size: 55px;
    margin-bottom: 20px;
    line-height: 1.5;
}
section.main .main-title p{
    font-size: 25px;
    margin-bottom: 20px;
}

section.main .main-title .view{
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    width: 180px;
    display: block;
    /* a 인라인이라 가로길이 주려면 블록으로 바꿔줘야함. */
    /* 블록으로 바꿨더니 맨 왼쪽으로 가버림. 텍스트 얼라인이 적용이 안돼서. ->박스 중앙정렬 해줘야함. */
    margin: 0 auto;
    padding: 8px;
    letter-spacing: 1px;

    position: relative;
    overflow: hidden;
}
section.main .main-title .view::after{
    content: '';
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    /* display: block; 포지션 앱솔주면 자동으로 됨.*/
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}
section.main .main-title .view:hover::after{
    width: 100%;
}

/* ----------------section about style-------------------------*/
section.about{
    background: #fff;
    padding: 80px 0;
}
section .title{
    text-align: center;
    /* 박스 길이 100% 밑으로 주고, 마진 오토로 중앙정렬해도 상관없음. 근데 텍스트만있어서 그냥 이렇게함 */

}
section .title h2{
    font-size: 45px;
    margin-bottom: 5px;
}
section .title p{
    font-size: 18px;
    color: #555;
}

section.about ul{
    /* background: orange; */
    width: 74%;
    margin: 30px auto;
    border-bottom: 1px solid #ddd;
}
section.about ul li{
    float: left;
    width: 33.333333%;
    /* 사진이미지가 li보다 커서 삐져나와있음. */
}
section.about ul li a .img-box{
    overflow: hidden;
}
section.about ul li a .img-box img {
    width: 100%;
    /* ->삐져나온거 딱 맞게 */
    transition: 0.7s;
}
section.about ul li a:hover .img-box img{
    transform:scale(1.2)
}
section.about ul li a .text{
padding: 25px;
}
section.about ul li a .text h3{
    font-size: 20px;
    margin-bottom: 10px;
}
section.about ul li a .text p{
    font-size: 16px;
    margin-bottom: 20px;
}
section.about ul li a .text p.more{
    font-weight: bold;
    /* 일괄 대문자 변경, 소문자는 lowercase (html가서 바꿔도 되는데, 다량을 일일이 바꾸기 힘드니, 한번에 바꿀때는 이게 좋음) */
    text-transform: uppercase;

    position: relative;
    padding-left: 40px;
    /* 마진으로는 같이움직임. 패딩으로 옮겨줘야함. */
    /* background: blue; */
    
}
section.about ul li a .text p.more::before{
    content: '→';
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff8342;
    /* display: block; */
    position: absolute;
    left: 0px;
    top: -5px;
}

/* section innvation style */

section.innovation{
    background: #fff;
    margin-bottom: 150px;
}
/* section.innovation .title{
    color: #000;
    text-align: center;
}
section.innovation h2{
    font-size: 45px;
    margin-bottom: 5px;
}
section.innovation p{
    font-size: 18px;
    color: #555;
} */

/* section about이랑 똑같음. 앞으로도 계속 쓰이는 구조(281~291) -> 섹션 about가서 .about 지움.  */
section.innovation .img-box{
    width: 74%;
    height: 540px;
    margin: 50px auto 0;
    background: url(../img/product_1.jpg) no-repeat center/cover;
    position: relative;
}
section.innovation .img-box .inner{
    background: #3a3c4e;
    width: 80%;
    border: 3px solid #000;
    position: absolute;
    left: 50%;
    bottom: -50px;
    /* transform: translate(-50%, 0); (밑에가 더 깔끔)*/
    transform: translateX(-50%);
    /* ↑ inner박스 위치 :  좌우중앙정렬 공식에서 조정해서 맞춤. */
}
section.innovation .img-box .inner h3{
    background: #fff;
    font-size: 18px;
    padding: 25px 45px;
    box-sizing: border-box;
}
section.innovation .img-box .inner .bottom{
    color: #fff;
    line-height: 1.6;
    padding: 35px 85px;
    box-sizing: border-box;
    
}
section.innovation .img-box .inner .bottom p{
float: left;
width: 70%;
}
section.innovation .img-box .inner .bottom a{
float: right;
background: #a1a1a1;
border-radius: 50px;
padding: 7px 30px;
}
section.innovation .img-box .inner .bottom a:hover{
    background: #f86010;
}

/* <!-- section.me --> */
section.me{
    background: url('../img/me.jpg') no-repeat center/cover;
    margin-bottom: 150px;
    padding: 80px 0;
}
section.me ul.list{
    width: 74%;
    margin: 50px auto;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
section.me ul.list>li{
    /* > 주면, 직속 자식만 선택자 정할수있음. */
    padding: 30px 60px;
}
section.me ul.list>li:first-child{
    border: 1px solid #ddd;
}

section.me ul.list>li h3{
    /* background: red; */
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}
section.me ul.list>li h3 span{
    color: orange;
    position: absolute;
    left: -30px;
}
section.me ul.list>li p{
    line-height: 1.6;
    margin-bottom: 20px;
}
section.me ul.list>li a.more{
    font-size: 16px;
    font-weight: 700;
}
section.me ul.list>li a.more span{
    color: #ff8342;
    margin-left: 3px;
    font-size: 14px;
}
section.me ul.in{
    margin-bottom: 30px;
}
section.me ul.in li em{
    float: left;
    /* background: rgb(161, 136, 136); */
    width: 12%;
    /* 마진으로 여백을 주면, 글자 시작 위치가 삐뚤빼뚤함. 그래서 가로 길이를 줘버려서 맞춤. float이나 position 걸면 블록으로 display 바껴서 가로길이 줄 수 있음. */
    font-weight: 700;
}
section.me ul.in li p{
    float: left;
    width: 88%;
    /* background: skyblue; */
    position: relative;
}
section.me ul.in li p::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff8342;
    display: block;
    position: absolute;
    left: -40px;
    top: 10px;
}
/* id선택자는 점수 높아서 앞에 주렁주렁 안달고 바로 써도 됨. */
#incruit-btn{
    display: block;
    width: 280px;
    background: #ff8342;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

/* section SNS */

section.sns ul{
    width: 74%;
    margin: 50px auto;
    /* background: orange; */
}

section.sns ul li{
    /* border: 4px solid #000;
    box-sizing: border-box; */
    width: 32%;
    float: left;
    margin-right: 2%;
}
section.sns ul li:last-child{
    margin-right: 0%;
}
section.sns ul li a .img-box{
    width: 100%;
    height: 251px;
    overflow: hidden;
    position: relative;
}
/* 커튼만들기 */
section.sns ul li a .img-box::before{
    content: '';
    width: 0%;
    height: 100%;
    background: rgba(255,131,66,0.85);
    position: absolute;
    transition: 0.5s;
}
section.sns ul li a:hover .img-box::before{
width: 100%;
}

/* 커튼 안에 블로그표시 만들기 */
section.sns ul li a .img-box::after{
    content: 'BLOG';
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 5px 30px;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.7s;
}
section.sns ul li a:hover .img-box::after{
    opacity: 1;
}

section.sns ul li a .img-box img{
    width: 100%;
}
section.sns ul li a .bottom{
    padding: 20px 0 20px 30px;
    box-sizing: border-box;
}
section.sns ul li a .bottom p{
    font-size: 18px;

}
section.sns ul li a .bottom p.color{
    color: orange;
    font-size: 15px;
    margin-bottom: 10px;
}
section.sns ul li a .bottom p.time{
    color: gray;
    margin-top: 30px;  
    font-size: 15px;
    position: relative;
    padding-left: 20px;
}

/* before로 시계 아이콘 넣어보기. */
section.sns ul li a .bottom p.time::before{
    /* <i class="far fa-clock"></i> 옆에, 유니코드 번호로 */
    content: '\f017';
    font-family: 'Font Awesome 5 Free';
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 1px;
}
/* ----------------------------------------------------------------------- */
/* footer 스타일 */
footer {
    border-top: 1px solid #999;
    padding: 30px 0;
    /* background: blue; */
}
footer .inner {
    width: 84%;
    margin: 0 auto;
    /* background: red; */
}
footer .inner .ft-logo {
    float: left;
    /* background: orange; */
    width: 14%;
}
footer .inner .ft-logo img {
    width: 100%;
}
footer .inner .address {
    float: left;
    /* background: yellowgreen; */
    margin-left: 100px;
    margin-top: 24px;
}
footer .inner .address li:first-child {
    font-weight: 700;
    margin-bottom: 10px;
}
footer .inner .address li:last-child {
    color: #999;
}

footer .inner .list {
    float: right;
    /* background: tomato; */
    margin-top: 30px;
}
footer .inner .list li {
    float: left;
    margin-left: 80px;
}
footer .inner .list li:last-child {
    font-weight: 700;
}
footer .inner .list li a:hover {
    color: #ff8342;
    text-decoration: underline;
}

/* 반응형 작업 */
/* 노트북 해상도 (1599px)->1600px 이상은 지금모습. 그 밑은 작은 화면에 맡게 바꿈 */
@media screen and (max-width: 1599px){
    /* 이너헤더 넓혀서, 헤더 꽉차보이게 */
    header .inner-header{
        width: 95%;
    }
    header .inner-header .gnb{
        margin-left: 50px;
    }
    header .inner-header .gnb li{
        margin-right: 40px;
    }
    section.about ul, 
    section.innovation .img-box,
    section.me ul.list,
    section.sns ul,
    footer .inner{
        width: 95%;
    }
    footer .inner .list li{
        margin-left: 20px;
    }
}

/* 테블릿 1024px 해상도 (아이패드 프로) */
@media screen and (max-width: 1024px){
    /* 햄버거버튼 만들기. */
    header .inner-header .gnb,
    header .inner-header .tnb{
        display: none;
    }
    header .inner-header .gnb-mobile{
        float: right;
        font-size: 40px;
        color: #fff;
        display: block;
    }

    /* 복붙 */
    section.main .main-title {
        width: 80%;
    }

    section.me ul.in li {
        margin-bottom: 0;
    }
    section.me ul.in li p {
        margin-bottom: 10px;
    }
    section.me ul.in li p::before {
        left: -20px;
    }
    section.sns ul li a .img-box {
        height: 170px;
    }
    section.sns ul li a .bottom {
        padding-left: 5px;
    }
    footer .inner .list {
        display: none;
    }
    footer .inner .ft-logo {
        margin-top: 15px;
    }

}

/* 테블릿 768px 해상도 (아이패드) */
/* 수평배치된 이미지들 수직배치로 바꿀거임. */
@media screen and (max-width: 768px){
    section.main .main-title h2{
        font-size: 40px;
    }
    section.main .main-title p{
        font-size: 20px;
    }
    section.about{
        padding: 50px 0;
    }
    section.about ul li{
        float: none;
        width: 100%;
    }
    
    /* 복붙 */
    section.about ul li a .img-box {
        height: 400px;
    }

    section.innovation .img-box .inner .bottom {
        padding: 30px;
    }

    section.innovation .img-box .inner .bottom p {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    section.innovation .img-box .inner .bottom a {
        float: none;
        display: block;
        width: 100px;
        text-align: center;
        margin: 0 auto;
    }

    section.me {
        padding: 50px 0;
    }

    section.me ul.in li em {
        float: none;
        width: 100%;
        font-size: 17px;
        margin-bottom: 5px;
    }

    section.sns ul li {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    section.sns ul li a .img-box {
        height: 380px;
    }

    section.sns ul li a .bottom p.time {
        margin-top: 10px;
    }

    footer .inner .ft-logo {
        float: none;
        width: 30%;
        margin: 0 auto;
    }
    footer .inner .address {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}
/* -------------복붙-------------------- */
/* 모바일 414px 해상도 (아이폰 678 plus) */
@media screen and (max-width: 414px) {

    header {
        height: 60px;
        line-height: 60px;
    }
    header .inner-header .logo {
        width: 130px;
        position: absolute;
        top: -3px;
        left: -0px;
    }

    section.main .main-title h2 {
        font-size: 30px;
    }
    section.main .main-title p {
        font-size: 16px;
    }

    section.main .main-title .view {
        width: 150px;
        font-size: 14px;
    }

    section .title h2 {
        font-size: 25px;
    }
    section .title p {
        font-size: 14px;
    }

    section.about {
        padding: 30px 0;
    }

    section.about ul li {
        border: 1px solid #ddd;
        box-sizing: border-box;
        background: #fafafa;
        margin-bottom: 10px;
    }

    section.about ul li a .img-box {
        height: 300px;
    }

    section.innovation .img-box {
        height: 400px;
    }

    section.me ul.list > li {
        padding: 20px 20px 20px 45px;
    }
    section.me ul.list > li p {
        text-align: justify;
    }

    section.sns ul li a .img-box {
        height: 200px;
    }

    footer {
        padding: 20px 0;
    }
}

/* 모바일 320px 해상도 (아이폰5 / SE) */
@media screen and (max-width: 320px) {

    br.mo {
        display: block;
    }

    .wrap {
        min-width: 320px;
    }

    header .inner-header .logo {
        width: 140px;
        height: auto;
    }

    header .inner-header .gnb-mobile {
        font-size: 32px;
        margin-right: 15px;
        position: absolute;
        right: 0;
        bottom: 2px;
    }
    section.me{
        margin-bottom: 40px;
    }
    section.main .main-title h2 {
        font-size: 22px;
    }

    section.main .main-title p {
        font-size: 14px;
    }

    section.about ul li a .img-box {
        height: 200px;
    }

    section.about ul li a .text {
        padding: 15px;
    }

    section.about ul li a .text h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    section.about ul li a .text p {
        font-size: 15px;
        margin-bottom: 5px;
    }

    section.innovation .img-box {
        height: 300px;
    }

    section.sns ul li a .img-box {
        height: 170px;
    }

    section.sns ul li a .bottom {
        padding: 20px 10px;
    }
}







